{{define "content"}}
    <div id="content">
        <div class="container" style="margin-bottom: 20px;">
{{/*            <h1 class="title">YSTV Computing</h1>*/}}
{{/*            <div class="subtitle">*/}}
{{/*                <p>Computing internal pages! Made with the cool Go</p>*/}}
{{/*            </div>*/}}
{{/*            <div class="theme-switch-wrapper">*/}}
{{/*                <label class="theme-switch" for="checkbox">*/}}
{{/*                    <input type="checkbox" id="checkbox"/>*/}}
{{/*                    <div class="slider round"></div>*/}}
{{/*                </label>*/}}
{{/*                <p style="margin-bottom: 10px;">Dark Mode</p>*/}}
{{/*            </div>*/}}
            <div class="card">
                <div class="card-content">
                    <p class="title">Documentation</p>
                    <div class="content">
                        Since there is a decent amount of parts making YSTV work, it's useful
                        to have knowledge on how it all works.

                        <ul>
                            {{range .Link.Docs}}
                                <li><a href="{{.URL}}" target="_blank">{{.Name}}</a>{{if .Extra}} {{.Extra}}{{end}}</li>
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <p class="title">Computing Services</p>
                    <div class="content">
                        These are the services that make our life easier.

                        <ul>
                            {{range .Link.Comp}}
                                <li><a href="{{.URL}}" target="_blank">{{.Name}}</a>{{if .Extra}} {{.Extra}}{{end}}</li>
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <p class="title">University Services</p>
                    <div class="content">
                        Adminy University sites. Uses your University accounts, smh!

                        <ul>
                            {{range .Link.Uni}}
                                <li><a href="{{.URL}}" target="_blank">{{.Name}}</a>{{if .Extra}} {{.Extra}}{{end}}</li>
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <p class="title">Staging</p>
                    <div class="content">
                        Sites running our unstable builds. Shame everyone is too boring to run these in production!

                        If you're adding a new one. Try to follow the theme of just prefixing the root domain with
                        dev and then the rest of the subdomain in-front.
                        <ul>
                            {{range .Link.Staging}}
                                <li><a href="{{.URL}}" target="_blank">{{.Name}}</a>{{if .Extra}} {{.Extra}}{{end}}</li>
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <p class="title">Team</p>
                    <div class="content">
                        Meet the team, we are computing!

                        <ul>
                            {{range .Team}}
                                <li><p>{{.Name}}{{if .Role}} - {{.Role}}{{end}}</p></li>
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/*    <script>*/}}
{{/*        const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');*/}}

{{/*        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {*/}}
{{/*            document.documentElement.setAttribute('data-theme', 'dark');*/}}
{{/*            toggleSwitch.checked = true;*/}}
{{/*        }*/}}

{{/*        function switchTheme(e) {*/}}
{{/*            if (e.target.checked) {*/}}
{{/*                document.documentElement.setAttribute('data-theme', 'dark');*/}}
{{/*                localStorage.setItem('theme', 'dark');*/}}
{{/*            } else {*/}}
{{/*                document.documentElement.setAttribute('data-theme', 'light');*/}}
{{/*                localStorage.setItem('theme', 'light');*/}}
{{/*            }*/}}
{{/*        }*/}}

{{/*        toggleSwitch.addEventListener('change', switchTheme, false);*/}}
{{/*    </script>*/}}
{{end}}